$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

.content {
  &_container {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media all and (max-width: $mediaMaxWidth) {
  .content {
    &_container {
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
