.reminder {
  &_container {
    padding: 5px 5px 5px 5px;
    width: 100%;
  }
  &_content {
    background-color: rgb(178, 236, 181);
    width: 100%;
    font-size: 15px;
    border: solid 1px green;
    border-radius: 5px;
  }
  &_content:hover {
    cursor: pointer;
  }
}
