.day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &_header {
    font-size: 15px;
  }
  &-inactive {
      background-color: rgba(194, 190, 190, 0.116);
  }
}
.day:hover {
  cursor: pointer;
}
